{{define "bootstrap"}}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>LensLocked.com</title>
      <link
        rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
      <!-- Navbar -->
      {{template "navbar" .}}

      <!-- Main content -->
      <div class="container-fluid">
        {{if .Alert}}
          {{template "alert" .Alert}}
        {{end}}
        {{template "yield" .Yield}}
      </div>

      <!-- Footer -->
      {{template "footer"}}

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
      </script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.js">
      </script>
    </body>
  </html>
{{end}}
