{{define "yield"}}
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">
          Sign Up Now!
        </div>
        <div class="card-body">
          <h5 class="card-title"> : ) </h5>
          <p class="card-text">

            {{template "signupForm"}}

          </p>
        </div>
      </div>
    </div>
  </div>
{{end}}

{{define "signupForm"}}
  <form action="/signup" method="POST">
    {{csrfField}}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
{{end}}
